
.container-cards {
  width: 150;

  text-align: center;
}

.container-cards h2{
  margin: 0;
  padding: 20px 0;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  margin: 0 15px;
}

.card {
  text-align: center;
}


.card img {
  height: 100px;
}

.card p {
  color: #a4a5a5;
  font-weight: 200;
}
